header{
    display: flex;
    background-color: #fff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.dribble_home{
    height: 70px;
    display: block;
    padding-left: 40px;
}
.nav_bar{
    display: flex;
    min-width: 400px;
    justify-content: space-evenly;
    
}
.nav_bar a{
    color: #060318;;
    word-spacing: .03px;
    padding:28px;
    font-size: 20px;
    font-weight: 550;
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}
.nav_bar a:hover{
    color: rgb(56, 48, 48);
}
.siginup
{
    padding-right: 60px;
}
.siginup a{
    color: #060318;;
    word-spacing: .03px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 550;
    text-transform: capitalize;
    text-decoration: none;
}
.siginup button{
    height: 60px;
    width: 110px;
    color: white;
    font-size: 20px;
    border-radius: 45px;
    background-color: #0d0c22;
}
#Whole_Search_bar{
    height: 60px;
    display: flex;
    width: 600;
    margin-top: 57px;
    background-color: #d8d6d5;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 50px;
    border: 1px solid grey;
}
.search{
    border-style: none;
    width: 550px;
    outline: none;
    background-color: #d8d6d5;
    margin-left: 25px;
    font-size: 20px;
}
.search_bar{
    display: flex;
}
.Shots_bar{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: #0d0c22;
    font-size: 23px;
    font-weight: 550;
    margin-top: 8px;
}
.circle{
    border-radius: 9999999px;
    height: 50px;
    width: 50px;
    margin-right: 8px;
    background-color:rgb(229, 51, 81);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}